@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}

body {
    background-color: rgb(124, 132, 158);
    /*
    background-color: rgb(158, 124, 124);
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

.body-filter {
    /*background-color: #24252A;
    background-color: rgba(0, 0, 0, 0.555)
    */  
}

header li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1e0;
    text-decoration: none;
}

header h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1e0;
    text-decoration: none;
}

header h1 {
    font-size: 35px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1e0;
    text-decoration: none;
}



h2 {
    font-size: 26px;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(60, 60, 60);;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    transition: all 0.3s ease 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .nav_links {
    list-style: none;
}

header .nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav_links li a {
    transition: all 0.3s ease 0s;
}

header .nav_links li a:hover {
    color: #0088a9
}

header.sticky {
    padding: 10px 8%;
}

header.sticky h1 {
    font-size: 24px;
   
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.content {
    width: 50%;
    align-items: center;
    padding: 30px 10%;
}

.article {
    background-color: rgb(60, 60, 60);;
    margin: auto;
    width: 71.5%;
    align-items: center;
    padding: 34px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #edf0f1e0;
    text-decoration: none;

    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}

/* Slidershow */
.slidershow{
    margin: auto;
    width: 71.5%;
    height: 500px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: relative;
    margin-left: 165px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 80px;
    height: 15px;
    border: 2px solid #fff;
    margin: 8px;
    cursor: pointer;
    transition: 0.4s
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}

/* UNITY CONTAINER OVERWRITE */

.unity-desktop {
    margin-top: 105px;
    margin-bottom: 105px;
}

/* ARTICLE 1 */
.article1 {
    background-color: rgb(60, 60, 60);;
    margin: auto;
    width: 71.5%;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article1 .article-image {
    flex-basis: 50%;
    height: 100%;
    max-height: 480px;
    overflow: hidden;
}
.article1 .article-image img{
    height: 100%;
    scale: 100%; 
    transform: translate(-10%, -17%);
}
.article1 .article-content {
    flex-basis: 100%;
    padding: 34px;
}
.article1 > div {
    flex-basis: 50%;
}
.article1 .article-content p{
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
}

/* ARTICLE 2 */
.article2 {
    background-color: rgb(60, 60, 60);;
    margin: auto;
    width: 71.5%;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article2 .article-image {
    flex-basis: 50%;
    height: 100%;
    max-height: 480px;
    overflow: hidden;
}
.article2 .article-image img{
    height: 100%;
    scale: 100%; 
    transform: translate(-10%, -17%);
}
.article2 .article-content {
    flex-basis: 75%;
    padding: 34px;
}
.article2 > div {
    flex-basis: 50%;
}








.spacer {
    height: 165px;
}



/* COLLAPSIBLE */

input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      color: #e0e0e0;
      background: rgb(60, 60, 60);
      cursor: pointer;
      border-radius: 7px;
      transition: all 0.25s ease-out;
      display: flex;
      overflow: hidden;

      border-bottom-width: 2px;
      border-bottom-color: snow;
      border-bottom-style: solid;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .collapsible-title {
    padding-top: auto;
    margin: auto;
    font-size: 38px;
  }
  
  .collapsible-title-image {
      overflow: hidden;
      width: 400px;
      height: 200px;    
  }

  .collapsible-title-image img{
    width: inherit;
}

  .lbl-toggle:hover {
    color: #94b5eb;
  }

  .lbl-toggle::before {
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    margin-right: .7rem;

    transition: transform .2s ease-out;
  }

  .collapsible-content .content-inner {
    background: rgb(73, 73, 73);
    border-bottom: 1px solid rgb(255, 255, 253);
  
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 1rem 2rem;
  }

.collapsible-content .content-inner p{
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
}

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    
  
    transition: max-height .25s ease-in-out;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 500vh;
  }

  .toggle:checked + .lbl-toggle::before {
    transform: translateX(-5px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .wrap-collabsible {
      margin: auto;
      width: 71.5%;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content-chapter {
    display: flex;
  }

  .content-chapter p {
      margin: auto;
      margin-top: 10px;
    flex-basis: 70%;
  }

  .content-inner p {
    margin: auto;
    margin-top: 10px;
  flex-basis: 70%;
}

  .content-chapter .content-image {
      margin-left: 35px;
      margin-top: 15px;
      overflow: hidden;
      width: 400px;
      height: 200px;
      flex-basis: 40%;
  }

  .content-chapter .content-image img {

  }
